@media (max-width: 768px) {
    .navbar {
        background-color: #fff;
        
        ul {
            //position: static;
            //display: none;
            li {
                margin-bottom: 1px;
                //width: 100%;
                a {
                    //width: 100%;
                }
            }
        }
    }
    #submenu .nav {
        li a {
            padding: 0;
        }
        margin-top: 13px;
    }

    
}

#mobile-nav > li > a {
    padding: 8px 10px;
    //width: 100%;
    color: $link-color;
    &:hover {
        color: $link-hover-color;
    }
    li > a:hover, .li > a:focus {
            background-color: #fff;
        }
}

#mobile-nav > li {
    //width: 100%;
}

.droppdown ul {
    right: 0;
    top: 20;
    z-index: 999999;
}

@media (min-width: 768px) {
    .nav > li {
        border-right: 1px solid $green;
        &:last-child {
            border-right: 0;
        }
    }
    .navbar {
        padding: 8px 0;
        ul li>a {
            padding: 0;
        }
        
        .nav > li > a:hover, .nav > li > a:focus {
            background-color: #fff;
        }
    }
    #main-nav {
        background-color: #fff;
        nav {
            padding: 0;
            //position: relative;
            bottom: 0;
            right: 0;
        }
    }

}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas {
    
    top: 0;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
    z-index: 999999;
  }
}

/*
/*
@media (min-width: 768px) {

.navbar {
    .nav {
        @include horizontal-list(false, left);
        a {
            @include link-colors($green, darken($green, 10%), #000, $green, $green);
            &:hover {
                background-color: #fff;
            }
            &:active {
                color: #000;
            }
            &:focus {
                background-color: #fff;
            }
        }
        li {
            border-right: 1px solid $green;
            line-height: 1.1em;
            &:last-child {
                border-right: 0px;
            }
            a {
                padding: 0 15px;
            }
        }
    }
    nav {
        position: absolute;
        right: 0;
        bottom: 0;
    }    
}

#main-nav {
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0; 
    background-color: #fff;
    padding: 8px 0;
}



nav.hicks {
   // margin: 3.5em 0;
}

}

*/