@font-face {
  font-family: 'MuseoSansThin';
  src: url('fonts/MuseoSans_100Web.eot'); /* IE9 Compat Modes */
  src: url('fonts/MuseoSans_100Web.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/MuseoSans_100Web.woff') format('woff'); /* Modern Browsers */
       font-weight: normal;
   }

@font-face {
  font-family: 'MuseoSansSemibold';
  src: url('fonts/MuseoSans_300Web.eot'); /* IE9 Compat Modes */
  src: url('fonts/MuseoSans_300Web.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/MuseoSans_300Web.woff') format('woff'); /* Modern Browsers */
       font-weight: normal;
}

@font-face {
  font-family: 'MuseoSlabBold';
  src: url('fonts/2C839B_0_0.eot'); /* IE9 Compat Modes */
  src: url('fonts/2C839B_0_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/2C839B_0_0.woff') format('woff'); /* Modern Browsers */
       font-weight: normal;
}

@font-face {
  font-family: 'MuseoSansCond';
  src: url('fonts/MuseoSansCond-300Web.eot'); /* IE9 Compat Modes */
  src: url('fonts/MuseoSansCond-300Web.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/MuseoSansCnd-300Web.woff') format('woff'); /* Modern Browsers */
       font-weight: normal;
}

@font-face {
  font-family: 'MuseoSansCondBold';
  src: url('fonts/MuseoSansCond-700Web.eot'); /* IE9 Compat Modes */
  src: url('fonts/MuseoSansCond-700Web.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/MuseoSansCnd-700Web.woff') format('woff'); /* Modern Browsers */
  font-weight: normal;
}

@font-face {
    font-family: 'MuseoSlab300';
    src: url('fonts/museo_slab_300.eot');
    src: url('fonts/museo_slab_300.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo_slab_300.woff') format('woff'),
         url('fonts/museo_slab_300.ttf') format('truetype'),
         url('fonts/museo_slab_300.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }

/*===============================================================*/
/*  MIXINS
/*===============================================================*/

@mixin heading-color($back, $typo) {
    padding-left: 5px;
    color: $typo;
    background-color: $back;
}

/*===============================================================*/

body {
    font-family: 'MuseoSansCond';
    font-size: 16px;
    color: $black;
}

#{headings(all)} {
    font-family: 'MuseoSlab300';
    //font-weight: normal;
}



h2 {
    .neg {
        margin: 3px;
        background-color: $green;
    line-height:    1.1em;
        color: $white;
        padding: 3px 7px;
        display: inline-block;
    }
    .pos {
        margin: 3px;
        //background-color: none;
    line-height:    1.1em;
        display: inline-block;
        color: $green;
        padding: 3px 7px;
    }
}

.modal h2.neg {
  margin: 3px;
        background-color: $green;
    line-height:    1.1em;
        color: $white;
        padding: 3px 7px;
        display: inline-block;
}

.modal {
  z-index: 3000999;
}

h2 + p {
    margin-top:     3.143em;
}

p {
    padding-left:   3px;
    padding-right:  3px;
}

p.teaser {
    font-weight: 700;
}

span.news-date {
    font-size: smaller;
    color: $green;
    font-style: italic;
}

b, strong {
    font-family: 'MuseoSansCondBold';
    font-weight: 300 !important;
}
/*
p a {

    @include link-colors($green, red, yellow, gray, lime);
}
*/

#ansprechpartner{
    h2{
        margin-bottom: 1.7em;
    }
}

#referenzen h3 {
  font-family: 'MuseoSansCond';
  font-size: 18px;
  line-height: 22px;
  span.pos {
    color: $green;
  }
}

.callout {
  text-align: center;
    h2 {
        font-size: 48px;
    }
    .bigurl {
      @extend h2;
      font-size: 24px;
      color: $green;
      background-color: $white;
      line-height: 42px;
      margin: 3em 0;
      padding: 0 3px;
    }
}

section ul {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0;
  text-indent: 0;
}


