$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$icon-font-path: "/bower_components/font-awesome/fonts/";

@import 'colors';
$border-radius-base:             0px;
$border-radius-large:            0px;
$border-radius-small:            0px;
$btn-primary-bg:              $green;
@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/css3';
@import 'compass/typography';
@import 'typo';
@import "font-awesome/scss/font-awesome";
@import 'navigation';
@import 'meldung';
//@import 'navigation';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/*==============================================================*/
/*     MIXINS
/*==============================================================*/

@mixin border($color) {
    height: 7px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $color;
    border: none;
    z-index: 9999;
}


/*==============================================================*/


/*==============================================================*/
/*     VARIABLES
/*==============================================================*/

//$navbar-klebrig-height: 49px;

/*==============================================================*/

/* Space out content a bit */
body {
 /*   padding-top: 20px;
    padding-bottom: 20px;*/
    a {
        color: $link-color;
        &:hover {
            color: $link-hover-color;
        }
    }
}
header {
    width: 100%;
    //height: 71.56%;
    padding: 12px 0 0;
    background-color: $white;

    .container {
        position: relative;
    }

    .branding {
        //margin: 3px 0;
    }
}

.green {
    color: $green;
}

.black {
    color: $black !important;
}

#header-slider {
    position: relative;
    bottom: 0;
    left: 0;
    min-height: 643px;
    background-color: red;
}

.carousel-indicators .active {
    background-color: $green !important;
    //border: 1px solid $green;
}

.carousel-indicators li {
    background-color: darken(white, 20%) !important;
    //border: 1px solid darken(white, 20%);
}

.thumbnail{
    border: 0 none;
    box-shadow: none;
    background-color: transparent;
}


#logo img {
    max-width: 306px*0.85;
}

.branding {
    //margin: 9px 0;
}
header {
   // position: relative;
   // top: 0;
   // left: 0;
   // height: 71.56%;
}
.header-slider {
    position: relative;
    width: 100%;
    height: 84%;
    bottom: 0;
    left: 0;
    margin-top: 5%;
}

#header-carousel {
    margin-top: 5%;
    margin-bottom: 0;
}

section {
    padding: 5.143em 0;
    .container {
        position: relative;
    }



    nav {
        @include horizontal-list();
        margin: -1.5em 0;
    }
    p ul {
        padding-left: 0 !important;
    }

}

#ansprechpartner .container {
    //width: 1140px;
    //max-width: 1140px;
}

#carousel-leistungsportfolio .item>.container>.row {
    padding-top: 3em;
}

div.fullwidth-image  img, .thumb {
    width: 100%;
    max-width: 100%;
}

#referenzen .carousel {
    min-height: 576px;
    position: relative;
    img {
        //margin: 1em;
    }
}

/**/
.thumbnails a {
    display: inline-block;
    overflow: hidden;
    height: 150px;
    width: 150px;
    //margin: 10px;
}
/**/

.thumbnails>.row a, .thumbnails a {
    //display: block;
    @extend .col-sm-4;
    margin-bottom: 10px;
    img {

        .hidden {
            display: none;
        }
    }
}

.thumbnails a>img {
//    margin: 10px;
}



#referenzen .steuerung {
    //position: absolute !important;
    //bottom: 0;
    //left: 0;
}

.pull-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}



.vcard-top {
    margin-top: 5em;
    @extend .col-sm-5;
    @extend .col-xs-12;

    //border: 1px solid #000;
}

.vcard-top-2 {
    margin-top: 5em;
    @extend .col-sm-5;
    @extend .col-xs-12;
    @extend .col-sm-offset-2;
    //border: 1px solid #000;
}


.vcard {
    @extend .col-sm-5;
    @extend .col-xs-12;
}

.vcard-last {
    @extend .col-sm-2;
    //@extend .col-xs-6;
}
.vcard-details {
//    padding: .5em .5em;
    text-align: center;
    .neg {
        padding: 3px;
        background-color: $green;
        color: $white;
    }
    img {
        width: 150px;
    }
}
.adresse {
    //padding-top: 1em;
}

#target-text {
    display: none;
}

#kontakt a {
    color: white;
}

.border-green {@include border($green); z-index: 1029;}
.border-lightpink {@include border($lightpink); z-index: 1029;}
.border-pink {@include border($pink); z-index: 1029;}
.border-darkpink {@include border($darkpink); z-index: 1029;}

.callout {
    background-color: $green;
    color: $white;
}



#jobs {
    padding-bottom: 2em;
}

#jobs p>a {
    @include link-colors($green, $green, $green, $green, $green);
    &:focus {
        outline: none;
    }
}

.map {
    width: 100%;
    height: 50%;
    img {
        width: 100%;
        //height: 100%;
    }
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
height: auto;
max-width: 100%;
line-height: 1;
width: 100%; // Add this
}

.modal-lg {
    width: 960px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    body {
        background-image: url(../images/bg_texture.jpg);
    }

    .container {
        max-width: 960px;
        // border: 1px solid black;
        padding-left: 0;
        padding-right: 0;
    }
}

#leistungsportfolio h2>a {
    &:hover {
        cursor: pointer;
    }
}

/*====================================================*/
/*      Vertical Center Sections
/*====================================================*/

.table-cell {
/* columns of same height styles */
.container-sm-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-sm-height {
    display:table-row;
}
.col-sm-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
    #main-nav .container {
        max-width: 960px;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
}
/*==================================================*/
#readmore-Button {
    /* add Style here */
}

#meldung {
    margin: 3em 0;
    span {
        padding: 3px;
        background-color: $white;
        color: $green;
        font-size: 1.3em;
        line-height: 1.3em;
        font-weight: 700;
        margin-top: 1em;
        margin-bottom: 1em;
    }

}

.callout{;
    .fb-button {
        color: $green;
        //font-weight: bold;
        font-size: 1.7em;
        background-color: $white;
        &:before {
            font-family: 'FontAwesome';
            content: '\f09a';
            padding-right: 1em;

            position: relative;
            //border-right: 1px solid $green;
        }
    }
    .callout-text {
        @extend h3;
        margin: 0 auto 3em;
        width: 66.66%;
        line-height: 1.7em;

    }
    a {
        @extend button;
    }
}
