@font-face {
    font-family: 'MuseoSlab300';
    src: url('museo_slab_300.eot');
    src: url('museo_slab_300.eot') format('embedded-opentype'),
         url('museo_slab_300.woff2') format('woff2'),
         url('museo_slab_300.woff') format('woff'),
         url('museo_slab_300.ttf') format('truetype'),
         url('museo_slab_300.svg#MuseoSlab300') format('svg');
}
